a {
  color: var(--link);
  text-decoration: none;
}

a:visited {
  color: var(--link);
}

.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 32px;
  margin-top: 32px;

  @include sm {
    gap: 16px;
  }
}

.link-list a {
  background-color: var(--bg-card);
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-on);
  border-radius: 8px;
  font-weight: bold;

  &:hover {
    background-color: var(--bg-card-hover);
  }

  @include sm {
    width: auto;
    height: 60px;
    padding: 0 12px 0 12px;
  }
}

.dev-link img {
  @include sm {
    width: 100%;
  }
}
