.links {
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  @include font-body();
}

.links h1 {
  font-size: 2.4em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  color: var(--text-on);
}

.links p {
  margin: 12px 0 0 0;
  color: var(--text);
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  max-width: 430px;
  padding: 64px 24px 24px 24px;
}

.avatar-xl {
  width: 192px;
  min-width: 192px;
  height: 192px;
  min-height: 192px;

  overflow: hidden;
  border-radius: 192px;
  border: 4px solid var(--stroke);
}

.avatar-xl img {
  width: 100%;
  object-fit: cover;
}

.links-description {
  text-align: center;
}

.link-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.link-card-list > a {
  color: var(--text);
  font-weight: bold;
  font-size: 1.2rem;

  &:hover {
    background-color: var(--bg-alt-hover);
  }
}

.link-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--bg-alt);
  margin: 0;
  padding: 0 32px 0 32px;
  border-radius: 12px;
}

.social-card-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.social-card {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: var(--bg-alt);

  display: grid;
  place-items: center;

  &:hover {
    background-color: var(--bg-alt-hover);
  }
}

.social-card > img {
  width: 60%;
  filter: var(--filter-on);
}
