.blog-post-list {
  width: 100%;
  margin-top: 48px;
}

.blog-post {
  display: flex;
  flex-direction: row;
}

.blog img {
  max-width: 100%;
}

pre {
  background-color: var(--bg-card);
  color: var(--text-code);
  padding: 16px;
  border: 1px solid var(--border-card);
  border-radius: 4px;
}
