$card-gap: 24px;

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $card-gap;
  width: 100%;
  max-width: 1400px;
  margin-top: 48px;
}

a.card {
  text-decoration: none;
  color: var(--text);
}

.card {
  flex: 0 1 calc(50% - ($card-gap / 2));
  width: calc(50% - ($card-gap / 2));
  max-width: 505px;
  min-width: 365px;
  background-color: var(--bg-card);
  &:hover {
    background-color: var(--bg-card-hover);
  }
  height: 365px;
  border-radius: 12px;
  border: 1px solid var(--border-card);
  overflow: hidden;

  @include sm {
    height: 350px;
    max-width: calc(100vw - (2 * $mobile-gutter));
    min-width: calc(100vw - (2 * $mobile-gutter));
    width: calc(100vw - (2 * $mobile-gutter));
  }
}

.card-image {
  width: 100%;
  height: 274px;
  overflow: hidden;
  @include sm {
    height: 240px;
  }
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-footer {
  height: 91px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include sm {
    height: 101px;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: 600;
  color: var(--text-on);
}
