.sidebar {
  background-color: var(--bg-alt);
  width: 290px;
  min-width: 290px;
  height: 100vh;
  border-right: 1px solid var(--stroke);

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  letter-spacing: 0.02em;

  @include sm {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.sidebar h3 {
  @include sm {
    display: none;
  }
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;

  margin: 28px 24px 46px 24px;

  @include sm {
    margin: 0;
    padding: 20px 32px 20px 32px;
  }
}

.avatar {
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;

  overflow: hidden;
  border-radius: 48px;

  @include sm {
    width: 96px;
    min-width: 96px;
    height: 96px;
    min-height: 96px;

    overflow: hidden;
    border-radius: 96px;
  }
}

.avatar img {
  width: 100%;
  object-fit: cover;
}

.sidebar-header-content > h5 {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

.sidebar-header-content > p {
  margin: 0;
  padding: 0;
  color: var(--text-subtle);
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 22px 0 22px;

  @include sm {
    display: none;
  }
}

a.sidebar-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 4px 8px 4px 8px;
  border-radius: 4px;

  text-decoration: none;
  color: var(--text);
  cursor: pointer;

  &:hover {
    background-color: var(--bg-selected);
  }
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.menu-selected {
  background-color: var(--bg-selected);
}

.menu-selected .menu-title {
  color: var(--text-selected);
}

.menu-icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  filter: var(--filter-subtle);
}

.menu-shortcut {
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  border: 1px solid var(--stroke);
}

.menu-selected .menu-shortcut {
  border: 1px solid var(--stroke);
}

.sidebar h3 {
  margin: 48px 0 24px 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text);
  @include font-size(12px);
}

.theme-switcher {
  margin: 28px 24px 46px 24px;
}
