.layout {
  background-color: $dark;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include font-body();
  @include text();
}

main {
  padding: 100px 52px 100px 52px;
  width: 100%;

  @include sm {
    padding: 100px 32px 100px 32px;
  }
}

.narrow {
  max-width: 1200px;
}
