$gutter: 52px;
$mobile-gutter: 32px;

body {
  background-color: $dark;
}

.layout {
  background-color: $dark;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include font-body();
  @include text();

  @include sm {
    display: block;
  }
}

main {
  padding: 100px $gutter 100px $gutter;
  width: 100%;

  @include sm {
    padding: 40px $mobile-gutter 100px $mobile-gutter;
  }
}

.narrow {
  max-width: 1200px;

  @include sm {
    max-width: 366px;
  }
}
